body {
background-color: #fafafc;    margin: 0;
    padding: 0;
}
 
.main-container {
    height:100vh;
}
.FIRST-nav {
    display: flex;
    justify-content: space-between;
    margin:0 450px;

}
a{
    text-decoration: none;
    color: black;
}